html {
  --s: 118px; /* control the size*/
  --c1: #ffffff;
  --c2: #96bff3;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),rgba(29, 28, 28, 0.533) 96%,#211f1f00),
    radial-gradient(100% 100% at 0 100%,#1e1c1c00, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}

body { 
    font-family: 'Segoe UI', sans-serif; 
    background-color: transparent; 
    margin: 0px; 
    padding: 0px; 
}

.main-nav { 
    background: #003d80; 
    padding: 15px; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.main-nav a { 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 8px 15px; 
    border-radius: 5px; 
}

.main-nav a:hover { 
    background: #00336a; 
}

.container { 
    max-width: 800px; 
    margin: 30px auto; 
    padding: 0 20px; 
}

.card { 
    background: white; 
    padding: 25px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
    margin: 30px auto;
}

h2 { 
    color: #2c3e50; 
    margin-top: 0; 
}

input, select { 
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
}

.button-form { width: 100%; 
    padding: 12px; 
    background: #114ac7; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
}

.button-form:hover { 
    background: #073088; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

th, td { 
    text-align: left; 
    padding: 12px; 
    border-bottom: 1px solid #ddd; 
}

th {
    background: #f8f9fa;
}

.nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-toggle {
        display: block;
        background: transparent;
        border: 2px solid #003d80;
        color: white;
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .nav-toggle:hover{
        border: 2px solid white;
        border-radius: 5px;
    }

    .main-nav a {
        display: none;
        width: 100%;
        box-sizing: border-box;
    }

    .main-nav.abierto a {
        display: block;
    }
}

/*busqueda de cliente*/

.autocomplete-wrapper {
    position: relative;
}

#lista-tutores {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 224px; /* 7 items x 32px aprox */
    overflow-y: auto;
    z-index: 10;
}

#lista-tutores li {
    padding: 10px 12px;
    cursor: pointer;
}

#lista-tutores li:hover {
    background: #f0f4ff;
}